@font-face{
    src : url("fonts/Orbitron Medium.ttf");
    font-family: OrbitronMedium;
}

body{
    background-image: url("images/universe.jpg");
    background-size: cover;
    font-family:'OrbitronMedium';
    /* dosen't work? */
}


.topContainer{
    margin:40px;
    /* width:300px; */
    margin-top:30px;
    display:block;
    margin-left:auto;
    margin-right:auto; 
    /* background-color: antiquewhite; */
}

.title{
    text-align:center;
    font-family:inherit;
    /* color:#274593; */
    color:rgb(242, 249, 255);
}

.logopic{
    width:300px;
    /* background:lightblue; */
    /* 居中显示 */
    display:block;
    margin-top:0%;
    margin-left:auto;
    margin-right:auto; 
    border-radius: 10px;
}


.logo{
    width:300px;
    border-radius:10px;
    padding-top:0px;
    padding-bottom: 0px;
    display:block;
    margin-left:auto;
    margin-right:auto; 
}

.fullnames{
    width:100%;
}

.fullname{
    font-size:10px;
    width:50%;
    /* color: #234563; */
    color:rgb(242, 249, 255);
    /* 居中显示 */
    display:block;
    margin-left:auto;
    margin-right:auto; 
    text-align: center;
}

.ourmembers{
    width:100%;
    height:30px;
    text-align:center;
    color:white;
    font-family:'Courier New', Courier, monospace
}


.group{
    display:flex;
    justify-content:space-around;
    height:50px;
}

.name{
    width:25%;
    height:80%;
    border-style: 1px solid black;
    border-radius: 10px;
    color:white;
    background-color:rgba(39, 38, 38, 0.452);
}

.name:hover{
    text-shadow: 0px 0px 5px white;
    background-color:rgba(39, 38, 38, 0);
}

